body{
    padding: 40px 40px;
}
#get-exchange-rates-btn{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
table{
    margin-top: 40px;
}
tr{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}
td, th{
    border: 1px solid gainsboro;
}
#custom-toast{
    background-color: rgb(187, 45, 59);
    opacity: 1;
    color: white;
    border-radius: 4px;
    width: 200px;
    padding: 20px 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transition: opacity 2s linear;
}
.unvisible{
    display: none;
    opacity: 0;
}